@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');



.addonimg{
    margin: auto 0;
    
    
}

.addons{

    font-family: 'Montserrat';
    font-size: 0.5em;
    text-align: center;
    align-items: center;
    color:#727272;

}