@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.addonimg {
	margin: auto 0;
	width: 80%;
}
/* .pricing {
	margin: 5px;
} */

.addons {
	font-family: 'Montserrat';
	text-align: center;
	align-items: center;
	color: #727272;
}

.addonCol {
	flex: 1;
	margin-top: 10px;
}

.serviceHeader {
	font-size: 0.9em;
	height: 40px;
	line-height: 1.5em;
	margin: 20px 0;
}

@media screen and (max-width: 480px) {
	.serviceHeader {
		height: 25px;
	}
	.pricing {
		margin-top: 32px;
	}
}
