@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.body {
	font-family: 'Montserrat';
	margin: 0;
}
.deliveryCard {
	text-align: center;
	font-size: 0.5em;
	border: 'none';
}
.valentinesDay p {
	margin-top: -15px;
	font-weight: 300;
}
.valentinesDay h4 {
	margin: 30px;
}

.options {
	margin-top: -15px;
}
