@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.footer {
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 50px;
	margin-top: 50px;
}

.contactformgoogle {
  text-align: center;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.socialmedia {
	width: 10%;
}
@media only screen and (max-width: 600px) {
	.socialmedia {
		width: 15%;
	}
}

/* footer left*/

.form {
	font-family: 'Montserrat' ;
	height: 100vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-element {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.form-element span {
	margin-bottom: 10px;
}

input, textarea {
	border: 1px solid  #d0d2e2;
	line-height: 2;
	padding: 5px;
	border-radius: 5px;
}
