@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.backgroundfont {
	background: #727272;
	font-family: 'Montserrat';
	color: white;
	font-size: 1.2em;
}

.navbarone {
	background-color: #555;
}

/* Navbar links on mouse-over */
.navbar a:hover {
	background-color: #f7911f;
}

.homePageWrappers {
	margin: 3em;
}
