@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.backgroundfont {
	background: #727272;
	font-family: 'Montserrat';
	color: white;
	font-size: 1.2em;
}


.navbarone {
	width: 100%;
	background-color: #555;
	overflow: auto;
}



/* Navbar links on mouse-over */
.navbar a:hover {
	background-color: #f7911f;
}


