@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.locations {
	font-family: 'Montserrat';
	text-align: center;
	color: #727272;
}

.locationsHeader {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100px;
}
.locationDetails {
	font-size: 0.5em;
	margin: 30px;
	background-color: #727272;
	width: 20%;
	margin: 20px auto;
	height: 26px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.locationPrice {
	font-size: 2.5em;
	color: white;
}

.images {
	margin: auto;
	width: 75%;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.stepsImage {
	padding: 20px;
}
