@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

.toolbar {
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	background-color: #727272;
	height: 156px;
	font-family: 'Montserrat' sans-serif;
	letter-spacing: 2px;
	font-size: 0.9rem;
}

.toolbar_navigation {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.toolbar_logo {
	margin-left: 1rem;
}

.toolbar_logo a {
	color: white;
	text-decoration: none;
	font-size: 1.8rem;
}

.spacer {
	flex: 1;
}

.toolbar_navigation-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-family: 'Montserrat' sans-serif;
}

.toolbar_navigation-items li {
	padding: 0 0.5rem;
	font-family: 'Montserrat' sans-serif;
}

.toolbar_navigation a {
	color: white;
	text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
	color: #fa923f;
}

.Dropdown {
	color: #727272;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	.toolbar_navigation-items {
		display: none;
	}
}

@media (min-width: 769px) {
	.toolbar__toggle-button {
		display: none;
	}
	.toolbar_logo {
		margin-left: 0;
	}
}
