@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

.themesContainer {
	font-family: 'Montserrat';
	color: #727272;
	justify-content: center;
	align-items: center;
}

.themeImage {
	width: 100%;
}

.themeTextBelow{
	margin: 30px;
}

.themeText {
	margin: 30px;
	text-transform: uppercase;
	color: white;
	background-color: #f78f1e;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.themeCol {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.topText {
	font-family: 'Montserrat';
	font-weight: 100;
	margin: 2px;
	color: #727272;
}

.packages {
	font-family: 'Montserrat';
}

.ourStoryImage {
	width: 70%;
}

@media screen and (max-width: 480px) {
	.rowbackground {
		height: 80vh;
	}
	.socialList {
		flex-direction: column;
	}
	.footerMenu {
		margin-top: 0;
	}
	.ourStory {
		flex-direction: column;
	}
	.wowLogo {
		width: 100px;
		margin-right: 0;
	}
}

.address {
	margin: 10px;
	color: white;
}
.footer {
	background-color: #727272;
	padding: 20px 0 20px 0;
	margin-top: 30px;
}
.footerContainer {
	box-sizing: border-box;
	font-family: 'Montserrat';
}
.footerContainer a {
	color: white;
}

.socialMediaList {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nobullets {
	list-style-type: none;
	padding: 2em;
	font-size: 1em;
	text-align: center;
	color: #727272;
}

.socialMediaList img {
	max-height: 60px;
	padding: 10px;
}
.contactAddress {
	margin-top: -20px;
	font-weight: 800;
}
.slider {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageslide {
	width: 1000px;
	height: 600px;
	border-radius: 10px;
}
.footerMenu {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 75px;
}

@media screen and (max-width: 880px) {
	.ourStoryImage {
		display: none;
	}
	.slider {
		display: none;
	}
	.video {
		display: none;
	}
}

@media screen and (min-width: 880px) {
	.slider {
		margin-top: 100px;
		margin-bottom: 100px;
	}
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.btn-primary.custom-btn {
	background-color: #f78f1e;
	border: 0em;
}

.btn-primary.custom-btn:hover {
	background-color: orange;
}

.linkTag {
	font-size: 0.6em;
}

.socialList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

@media only screen and (max-width: 600px) {
	.navbar-brand {
		min-width: 50%;
	}
}
